.image_preview{
    max-height: 100px;
}

.question_container{
    margin: 20px 100px;
    display: flex;
    flex-direction: column;
}

.question_details{
    display: flex;
    flex-direction: column;
}

.question_header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.question_subTitle{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.question_subTitle_author{
    margin-left: 30px;
}

.question_add_btn{
    
    height: 30px;
    background-color: #1A2238;
    color: white;
}

.question_add_btn:hover{
    cursor: pointer;
    color: #9DAAF2;
}