.question_header{
    /* background-color: red; */
    margin-top: 20px;
    height: 60px;
    margin-left: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.question_filter{
    justify-content: flex-start;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex:2;
}

.question_add{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.question_add_btn{
    height: 30px;
    background-color: #1A2238;
    color: white;
}

.question_add_btn:hover{
    cursor: pointer;
    color: #9DAAF2;
}
.question_header_title{
    display: flex;
    justify-content: center;
}

.question_sort{
    display: flex;
    justify-content: center;
}


.question_sort{
    margin-left: 60px;
}

.question_type{
    margin-left: 60px;
}


@media screen and (max-width: 400px) {
    .question_header{
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 5px;
    }

    .question_header_title{
        font-size: 14px;
    }

    .question_sort, .question_type{
        margin-left: 5px;
        font-size: 13px;
        width: 100px;
        /* height: 5px; */
        /* flex: 2; */
    }

    .question_add{

    }

    .question_add_btn{
        /* color: #9DAAF2; */
        font-size: 10px !important;

    }
}