.question_list{
    /* background-color: aqua !important; */
    height: 800px;
    /* overflow: auto; */
}


.question_add_btn{
    /* align-self: flex-end; */
    /* margin-top: 30px; */
    height: 30px;
    background-color: #1A2238;
    color: white;
    border: none;
}

.question_add_btn:hover{
    cursor: pointer;
    color: #9DAAF2;
}