.navbar_horizontal{
    grid-area: navbar;
    position:sticky;
    top:0;
    background-color: #1A2238;
    border-bottom: 1px solid #9DAAF2;
    z-index: 20;
}

.logo{
    margin: 0 45px 0 45px;
}

.aboutus{
    margin-left: 20px;
}

.aboutus, .contactus{
    margin-right: 30px;
}

.navbar_horizontal .login, .navbar_horizontal .signup, .navbar_horizontal .logout, .navbar_horizontal .username{
    float:right;
}

.navbar_horizontal .search_container{
    float: left;
    margin-left: 150px;
}

.search_container input[type=text]{
    height: 1.5em;
    width: 500px;
    border: none;
    float: left;
    font-size: 17px;
}

.navbar_horizontal li{
    margin-top: 5px;
    float: left;
    padding: 8px;
    color:white;
}

.navbar_horizontal a{
    text-decoration: none;
    display: block;
    color: white;
}

.navbar_horizontal a:hover{
    color: #9DAAF2; 
}

.navbar_horizontal a.active{
    color: #9DAAF2; 
}

.navbar_horizontal ul {
    height: 50px;
    padding: 0;
    margin:0;
    list-style-type: none;
}

.search_btn{
    margin-left: 20px;
    font-size: 25px;
}

.search_btn:hover{
    cursor: pointer;
    color: #9DAAF2;
}

.mainpage{
    margin-left: 25px;
}

.orange{
    color: orange;
}