.question_list {
    display: flex;
    flex-direction: column;
    height: 1000px;
}

.question_item{
    /* display: flex; */
    display: flex;
    flex-direction: row;
    overflow: hidden;
    max-width: 800px;
    height: 120px;
    padding: 5px 10px;
    margin: 10px 10px;
    /* background-color: aliceblue; */
    border: 1px solid black;
    text-decoration: none;
    color: black;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.question_item:hover{
    border: 1px solid #9DAAF2;

}

.left_part{
    flex: 1;
}

.right_part{
    flex: 5;
    display: flex;
    flex-direction: column;
}

.upper_part{
    margin-top: 2px;
    flex: 3;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.lower_part{
    overflow: hidden;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /* align-items: center; */
}

.question_title{
    flex: 3;
    font-size: 21px;
    font-weight: 400;
    margin: 0px;
    /* padding: 0px; */
    align-self: flex-start;
    /* text-overflow: ellipsis; */
    /* overflow: hidden; */
    max-height: 200px;
    width: 120px; 
    word-wrap: break-word;
    /* white-space: nowrap */
    /* width: 120px; */
    /* max-width: 800px; */
    /* max-height: ; */
}

.question_span{
    flex: 1;
    font-weight: 300;
    font-size: 12px;
}

.question_type{
    margin-top: 10px;
    flex: 2;
    font-weight: 400;
    color: rgb(88, 184, 88);

    /* padding: 5px; */
}

.question_up_right{
    margin-top: 5px;
    /* margin: 0px; */
    flex: 1;
    display: flex;
    flex-direction: column;
    
}

.question_des{
    flex: 1;
    align-self: flex-start;
}

.tag{
    /* background-color: aqua; */
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    overflow: hidden;
}


.tag_item{
    border: 2px solid #9DAAF2;
    margin-top: 4px;
    margin-right: 10px;
    padding: 2px 4px;
    font-size: 13px;
    /* flex: 1; */
}




.paginateBar{
    /* top: 1230px; */
    /* position: absolute; */
    margin-left: 10px;
    padding-left: 0px;
    display: flex;
    flex-direction: row;
    max-width: 785px;
    /* height: 20px; */
    justify-content: flex-start;
    align-items: center;
    /* background-color: #9DAAF2; */
}

.paginateBar li{
    /* padding: 10px; */
    list-style: none;
    /* font-size: 30px; */
}

.paginateBar li:first-child{
    border-left: 0.5px solid #9DAAF2;
    /* border-top-left-radius: 5px; */
}


.page_link{
    padding: 15px 10px;
    /* font-size: 20px; */
    /* margin: 0px; */
}

.page_item:hover,.active,.active.page_item{
    background-color: #1A2238;
    cursor: pointer;
    color: white;

}


.page_item{
    /* margin: 0.5px; */
    /* border: 0.5px solid #1A2238; */
    border-top: 0.5px solid #9DAAF2;
    border-bottom: 0.5px solid #9DAAF2;
    border-right: 0.5px solid #9DAAF2;
    padding: 5px;
    /* margin: 10px; */
    font-size: 15px;
    font-weight: 300;
    color: #1A2238;
}

.left_part{
    display: flex;
    flex-direction: column;
}

.left_part_up{
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upVote, .downVote{
    flex: 1;
}

.left_part_down{
    /* align-items: center; */
    flex: 1;
    text-align: center;
}

.arrowUp, .arrowDown{
    font-size: 30px;
}

.upVoteSpan ,.downVoteSpan{
    font-size: 20px;
}

.upVote, .downVote{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
}

@media screen and (max-width: 400px) {
    
    /* .question_list{
        height: 940px;
    } */
    .question_title{
        font-size: 15px;
    }

    .upper_part{
        height: 30px !important;
    }

    .right_part, .upper_part{
        font-size: 10px !important;
    }

    .tag_item {
        font-size: 8px;
        margin: 5px;
    }

    .paginateBar{
        width:80% !important;
        font-size: 13px !important;
    }

    .page_item{
        font-size: 10px;
    }
}


