.question_list {
    display: flex;
    flex-direction: column;
}

.question_item{
    overflow: hidden;
    max-width: 600px;
    margin: 10px 10px;
    background-color: aliceblue;
    text-decoration: none;
    color: black;
}