.rightbar_container{
    background-color: rgb(197, 197, 94);
    grid-area: rightbar;
    display: flex;
    justify-content: center;
}

.rightbar_content{
    flex: 1;
    align-self: center;
    width: 200px;
    min-height: 500px;
    position: fixed;
    top:50px;
    display: flex;
    flex-direction: column;
    margin: 30px 30px;
    justify-content: space-between;
}

.rightbar_content div{
    margin-top: 30px;
}

.rightbar_content1{
    background-color: white;
    text-align: center;
    flex: 1;
}

.rightbar_content2{
    background-color: white;
    text-align: center;
    flex: 5;
}

.rightbar_content3{
    background-color: white;
    text-align: center;
    flex: 1;
}