.sidebar{
    background-color: #1A2238;
    grid-area: sidebar;
}

.mainpage{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #9DAAF2;
    padding-bottom: 22px;
    text-align: center;
    padding-left: 5px;
}

.home{
    margin-bottom: 40px;
}

.question, .tag, .new, .club{
    margin-bottom: 10px;
}

.sidebar-content{
    margin-top:0;
    padding-top:0;
    position:sticky;
    top:0;
}

.sidebar ul{
    padding-left: 0;
    margin-top: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.sidebar-ul li:not(:first-child){
    padding-left: 50px;

}

.sidebar li{
    margin-top: 10px;
}

.sidebar a{
    text-decoration: none;
}

.sidebar-links a{
    color: white;
}

.sidebar-links a.active {
    color: #9DAAF2;  
}

.sidebar-links a:hover{
    color: #9DAAF2; 

}