.tag_filter_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-between; */
    height: 60px;
}

.tag_filter{
    flex: 3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.tag_options,.tag_btn{
    margin-left: 10px;
}

.tag_options{
    flex: 3;
}

.tag_title{
    flex: 1;
}

.tag_btn_container{
    flex: 1;
    display: flex; 
    flex-direction: row; 
    justify-content: center;
}

.tag_btn{
    /* font-size: 10px; */
    flex: 1;
    font-size: large;
    /* background-color: transparent; */
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.tag_search{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.tag_btn, .tag_search{
    height: 30px;
    align-self: center;
    flex: 1;
    background-color: #d3d8f8;
    
}

.tag_btn:hover + .tag_search,.tag_btn:hover ,.tag_search:hover+ .tag_btn{
    cursor: pointer;
    color: white;
}

.question_add{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.question_add_btn{
    height: 30px;
    background-color: #1A2238;
    color: white;
}

.question_add_btn:hover{
    cursor: pointer;
    color: #9DAAF2;
}

.tag_search{
    font-size: 25px;
    /* background-color: #1A2238; */
    color: #1A2238;
}

.sort_by{
    flex: 1;
    margin-left: 20px;
    /* width: 200px; */
}

@media screen and (max-width: 400px) {
    .tag_filter{
        display: grid;
        grid-template-areas: "top1 top2"
                             "btm_left btm_mid";
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        max-height: 150px;
        row-gap: 10px;
    }

    .tag_filter_container{
        height: 60px;
        margin-bottom: 20px;
    }

    .tag_title{
        font-size: 14px;
        grid-area: "top1";
    }

    .tag_options{
        grid-area: btm_left !important;
    }

    .tag_btn_container{
        grid-area: btm_mid;
        /* font-size: 10px !important; */
        width: 80%;
    }

    .tag_btn{
        font-size: 10px;
    }
    .tag_search{
        /* color: #9DAAF2; */
        width: 8px;
    }
    .question_add_btn{
        font-size: 10px;
    }

    .sort_by{
        grid-area: top2;
        margin: 0px;
        font-size: 13px;
        width: 80%;
    }
    .tag_options{
        font-size: 13px;
        margin: 0px;
    }
}