.App{
    display: grid;
    grid-template-rows: 120px, calc(100vh - 120px);
    grid-template-columns: 20vh 5fr 1.5fr;
    grid-template-areas: "sidebar navbar navbar"
                         "sidebar content rightbar";
}

.content{
    grid-area: content;
    height: 1000px;
}