.comment_container{
    margin: 10px 100px 0px 100px;
    display: flex;
    flex-direction: column;
}

.comment_input_area{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.comment_textarea{
    font-weight: 300;
    font-size: medium;
    width: 650px;
    border: none;
    border-bottom: 1px solid rgb(165, 165, 165);

}

.comment_textarea:focus{
    outline: none;
    border-bottom: 1px solid rgb(80, 156, 255);
}

.add_comment_img{
    margin-top: 15px;
    align-self: flex-start;
}

.image_preview_container{
    margin-top: 20px;
}

.image_preview{
    height: 150px;
}

.addBtn{
    background-color: transparent;
    border: none;
    color: rgb(165, 165, 165);
}

.addBtn:hover{
    color: #64b6f8;
    cursor: pointer;
}

@media screen and (max-width: 400px) {
    .comment_container{
        margin-left: 10px;
        margin-right: 10px;        
    }

    .comment_textarea{
        font-size: 13px;
        width: 100%;
    }

    .input_style{
        font-size: 13px;
    }
}