.comment_container{
    margin-top:35px;
    display: flex;
    flex-direction: column;
}

.comment_header{
    margin-left: 20px;
}

.comment_content{
    margin: 0px 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex;
}

.subComment{
    margin-left: 50px;
}

.comment_each{
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    margin-bottom: 30px;
}