.comment_container{
    /* margin: 20px 0px;
    display: flex;
    flex-direction: column; */
}

.comment_big_container{
    /* border-bottom: 1px solid rgb(165, 165, 165); */

}
.comments{
    white-space: pre-wrap;

    /* padding: 0px 5px 0px 5px; */
    /* width: 100%; */
    word-wrap: break-word;
    max-width: 800px;
    padding: 0px;
    font-size: medium;
}

.comment_bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(165, 165, 165);

}

.comment_left{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.comment_author,.comment_author_icon{
    color:#3ab0c5
}

.comment_author_icon{
    font-size: 15px;
    margin-left: 20px;
    margin-right: 5px;
}

.btn{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.btnEdit{
    margin-right: 20px;
}

.image_preview{
    height: 200px;
    margin: 5px 5px;
}

.comment_time, .comment_author, .comment_edit{
    font-size: small;
    font-weight: 300;
}

.btnEdit,.btnDelete{
    background-color: transparent;
    border: none;
    color: rgb(165, 165, 165);
}

.btnEdit:hover, .btnDelete:hover{
    color: #b84d64;
    cursor: pointer;
}

.comment_edit{
    margin-left: 20px;
}