.subcomment_container{
    /* border-bottom: 1px solid rgb(165, 165, 165); */
    border-bottom: 1px solid rgb(212, 212, 212);

    padding-bottom: 10px;
    margin-top: 10px;

}

.input_style{
    border: none;
    font-size: smaller;

    padding: 2px;
    width: 600px;
    border-bottom: 1px solid rgb(165, 165, 165);
    font-weight: 300;
}

.input_style:focus{
    outline: none;
    border-bottom: 1px solid rgb(80, 156, 255);
}

.subComment{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.edit_btn,.delete_btn{
    background-color: transparent;
    font-weight: 300;
    border: none;
}

.edit_btn{
    margin-right: 20px;
}

.edit_btn:hover{
    color: #58d177;
    cursor: pointer;
}

.delete_btn:hover{
    color: #b84d64;
    cursor: pointer;
}

@media screen and (max-width: 400px) {
    .subComment_container p, .subComment_container span, .subComment_container , .input_style {
        font-size: 8px !important;
    }
}